@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
 *{
    font-family: 'Roboto', sans-serif;
 }

.h2Buscar {
     width:  100%;
     text-align:  left; 
     color: #383B58;
     font-weight: 700;

}

.h2Recomendado{
 
 text-align: left;
 color: #383B58 ;
 font-weight: 700;
 margin-left: 2.5rem;
 margin-top: 2rem;
}

.card-group + .card-group>.card {
   flex: 1 0 50% !important;
}


.cardG{
    background-color: #e5e5e5;
}

/* .card-group:hover> :not(:hover){
   
   opacity: 0.3;
   
} */


    @media screen and (max-width: 830px){
      .categorias{
         display: flex;
         flex-wrap: wrap;
         flex-direction: column;
         margin-left: 2rem !important;
         
      }
    }